* {
    text-align: center;
}

table { 
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 20px; 
}
th, td { 
    border: 1px solid #333; 
    padding: 8px 12px; 
    text-align: left; 
}
th { 
    background: #f0f0f0; 
}