body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aquamarine;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
    padding: 5px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: red;
}

td {
    background-color: beige;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}